* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
     
}
h1, h2, h3 {
    margin-top: 30px;
    text-align: center;
}

.gameBoard {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center; 


}
.square {
    width: 150px;
    height: 150px; 
    background-color: rgb(161, 223, 164) ;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square.top {
    border-top: none;
}
.square.right {
    border-right: none;
}
.square.bottom {
    border-bottom: none;
}
.square.left {
    border-left: none;
}
.x {
    font-size: 60px;
}
.o {
    font-size: 70px;
}
.winner {
    text-align: center;
    margin: 30px;
    font-size: 30px;
}
#reload {
    background-color: blueviolet;
    color: aquamarine;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 150px;
    height: 30px;
}