* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background-color: lightblue;
     
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}
.gameBoard {
    width: 100vw;
    height: 100vw;
    border-width: 5px;
    border-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center; 


}
.square {
    width: var(--cell-size);
    height: var(--cell-size); 
    background-color: black ;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square.top {
    border-top: none;
}
.square.right {
    border-right: none;
}
.square.bottom {
    border-bottom: none;
}
.square.left {
    border-left: none;
}
